<div class="mt-2 p-5">
    <h3 class="text-center">Create new Mutant</h3>
    {{!-- Để action='' thì nó sẽ act ngay trong phương thức res.render luôn --}}
    <form  method="POST" action="/character/store">
        <div class="mb-3">
            <label for="name" class="form-label">Name of character:</label>
            <input type="text" class="form-control" id="name" name="name" autocomplete="off">
        </div>

        <div class="mb-3">
            <label for="description" class="form-label">Description:</label>
            <input type="text" class="form-control" id="description" name="description" autocomplete="off">
        </div>

        <div class="mb-3">
            <label for="videoId" class="form-label">Video ID:</label>
            <input type="text" class="form-control" id="videoId" name="videoId" autocomplete="off">
        </div>

        <div class="mb-3">
            <label for="level" class="form-label">Mutant Level:</label>
            <input type="text" class="form-control" id="level" name="level" autocomplete="off">
        </div>
        <button type="submit" class="btn btn-primary">Create</button>
    </form>
</div>