<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container">
    <a class="navbar-brand bg-warning ps-2 pe-3 rounded-pill" href="/">
    <svg xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" width="50" height="50" viewBox="0 0 48 48">
    <path fill="#9FA8DA" d="M24,4C13,4,4,13,4,24s9,20,20,20s20-9,20-20S35,4,24,4z M38,24c0,2.8-0.8,5.4-2.2,7.5L28.2,24l7.5-7.5C37.2,18.6,38,21.2,38,24z M31.5,12.2L24,19.8l-7.5-7.5c2.2-1.4,4.8-2.2,7.5-2.2S29.4,10.8,31.5,12.2z M12.2,31.5C10.8,29.4,10,26.8,10,24s0.8-5.4,2.2-7.5l7.5,7.5L12.2,31.5z M16.5,35.8l7.5-7.5l7.5,7.5C29.4,37.2,26.8,38,24,38S18.6,37.2,16.5,35.8z"></path><path fill="#7986CB" d="M40,24c0,3.3-1,6.4-2.8,9l-1.5-1.5c1.4-2.2,2.2-4.8,2.2-7.5c0-2.8-0.8-5.4-2.2-7.5L28.2,24h-2.8L36,13.4c0.4,0.5,0.9,1,1.2,1.6l0,0C39,17.6,40,20.7,40,24z M24,19.8l-7.6-7.5c2.2-1.4,4.7-2.2,7.5-2.2c2.8,0,5.4,0.8,7.5,2.2l1.5-1.5C30.4,9,27.3,8,24,8c-3.3,0-6.4,1-9,2.8l0,0c-0.6,0.4-1.1,0.8-1.6,1.2L24,22.6L24,19.8z M24,28.2l7.5,7.5C29.4,37.2,26.8,38,24,38c-2.8,0-5.4-0.8-7.5-2.2L15,37.2c2.6,1.7,5.7,2.8,9,2.8c3.3,0,6.4-1,9-2.8l0,0c0.6-0.4,1.1-0.8,1.6-1.2L24,25.4V28.2z M19.8,24l-7.5,7.5C10.8,29.3,10,26.8,10,24c0-2.8,0.8-5.4,2.2-7.5L10.8,15C9,17.6,8,20.7,8,24c0,3.3,1,6.4,2.7,9l0,0c0.4,0.6,0.8,1.1,1.2,1.6L22.6,24H19.8z"></path>
    </svg>
    My X-men book </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
        {{!-- <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            <img src="https://upload.wikimedia.org/wikipedia/commons/f/fb/Minecraft-creeper-face.jpg" alt="" class="user-avatar">
            Luminir-user
          </a>
          <ul class="dropdown-menu" style="display: block;">
            <li><a class="dropdown-item" href="/character/create">Upload</a></li>
            <li><a class="dropdown-item" href="">Another action</a></li>
            <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item" href="#">Something else here</a></li>
          </ul>
        </li> --}}
        <div class="dropdown" style="float:right;">
        <button class="dropbtn">
          <img src="https://upload.wikimedia.org/wikipedia/commons/f/fb/Minecraft-creeper-face.jpg" alt="" class="user-avatar">
          Luminir-user <span>&#8964;</span></button>
          <div class="dropdown-content">
          <a href="/character/create">Create</a>
          <a href="/me/stored/characters">My Character</a>
          <a href="/me/stored/news">My News</a>
          {{!-- <a href="#">Log out</a> --}}
          </div>
        </div>

      </ul>
      
    </div>
  </div>
</nav>